## Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import norm , t
import numpy as np

## Dataset

In [4]:
df=pd.read_csv(r"D:\Projects\Noble prize\nobel.csv")

## EDA

In [6]:
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

### Top gender won nobel prize

In [5]:
gender=df["sex"].value_counts()
top_gender=gender.sort_values(ascending=False).index[0]
top_gender

'Male'

### Which country has more nobel prize winners

In [7]:
country=df["birth_country"].value_counts()
top_country=country.sort_values(ascending=False).index[0]
top_country

'United States of America'

### Which decade has the most american winners

In [10]:
df["decade"]=(np.floor(df["year"]/10)*10).astype(int)
df["US_winners"]=df["birth_country"]=="United States of America"
decade_usa=df.groupby("decade")["US_winners"].mean()
m_decade_usa=decade_usa.sort_values(ascending=False).index[0]
max_decade_usa=int(m_decade_usa)
max_decade_usa

2000

### Which decade has the most female winners

In [11]:
df["female_winners"]=df["sex"]=="Female"
female_max=df.groupby("decade")["female_winners"].sum()
max_female_winners=female_max.sort_values(ascending=False)
max_female_winners

decade
2010    13
2000    11
2020    11
1990     7
1970     4
1980     4
1900     3
1930     3
1940     3
1960     3
1920     2
1910     1
1950     0
Name: female_winners, dtype: int64

In [12]:
max_female_dict={max_female_winners.index[0]:max_female_winners.values[0]}
max_female_dict

{2010: 13}

### Who is the first women won nobel prize

In [13]:
women=df[df["female_winners"]]
women_winners=women.groupby("full_name").agg({"year":"min"})
first_woman_name=women_winners.sort_values("year").index[0]
first_woman_name

'Marie Curie, née Sklodowska'

### Which cateorgy has the first women won nobel prize

In [14]:
W=women[women["full_name"]=="Marie Curie, née Sklodowska"]
w_ascending=W.sort_values("year")
w_ascending
first_record=w_ascending.set_index("category")
first_woman_category=first_record.index[0]
first_woman_category

'Physics'

### who won nobel prize multiple times

In [15]:
winners=df["full_name"].value_counts()
winners
winners_more_than_one_time=winners[winners>=2].index
repeat_list=list(winners_more_than_one_time)
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']